
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

.wrapper{
    overflow-y:scroll;
    width: 100vw;
    height: 100vw;
    scroll-snap-type: y mandatory;
}

.wrapper div{
    scroll-snap-align: center;
    width: 100%;
    height: 100%;
}

.firstPage{
    background-color: white;
}
.firstPage .ment{
    padding-top: 300px;
    padding-left: 400px;
    font-family: 'Noto Sans KR', sans-serif; 
}

.ment{ 
    width: 500px;
    height: 400px;
    font-size:55px;}
p{
    padding:0px;
    margin: 0px;
}
.sub{font-size:20px;}

.secondPage{
    background-color: #f3f3f3;
}

.thirdPage{
    background-color: white;
}

.footer{
    background-color:#f3f3f3;
}

header{
    height: 60px;
    background-color:white;
    border-bottom:1px solid gainsboro;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top:0;
    left: 0; 
    font-family: 'Noto Sans KR', sans-serif;
}

nav{float: right;}
.button{ float: left; list-style: none; }
nav .button{line-height: 60px; color:black; padding:0 20px; display: block;}

header div{ color:black; line-height: 60px; float:left; padding-left: 70px;}